In [151]:
import tensorflow
print(tensorflow.__version__)

2.12.0

In [152]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [153]:
dataset = pd.read_csv("/content/aps_data.csv")

<ipython-input-153-acf1212ec890>:1: DtypeWarning: Columns (81) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("/content/aps_data.csv")

In [154]:
dataset.shape

(5000, 171)

In [155]:
dataset.head(5)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,na,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,na,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,na,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0

In [156]:
dataset = dataset.replace("na",np.nan)

In [157]:
dataset.head(5)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,NaN,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,NaN,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,NaN,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0

In [158]:
dataset.isnull().sum()

class        0
aa_000       0
ab_000    3849
ac_000     308
ad_000    1236
          ...
ee_007      58
ee_008      58
ee_009      58
ef_000     242
eg_000     242
Length: 171, dtype: int64

In [159]:
for feature in [feature for feature in dataset.columns if feature not in ['class']]:
  dataset[feature] = dataset[feature].fillna(dataset[feature].median())

In [160]:
dataset.head(10)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,0.0,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,0.0,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,0.0,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0
5,neg,324,0.0,2130706432,4,0,0,0,0,0,...,1656,554,2032,10358,4,0,0,0,0,0
6,neg,1438,0.0,50,136.0,0,0,0,0,0,...,2872,1130,2414,56986,176,18,134,0,0,0
7,neg,115884,0.0,2130706432,1606,0,0,0,0,0,...,1022082,503180,886002,634844,467234,365910,962630,181820,0,0
8,neg,64558,0.0,444,238,0,0,0,0,0,...,258426,133116,244910,228536,934624,853498,99478,6,0,0
9,neg,32526,0.0,2130706440,584,0,0,0,0,0,...,306220,164054,296666,391730,119408,63790,67540,2676,0,0

In [161]:
dataset.isnull().sum().sum()

0

In [162]:
X = dataset.drop('class',axis = 1)
y = dataset['class']

In [163]:
dataset.info(verbose = True,show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 171 columns):
 #    Column  Non-Null Count  Dtype
---   ------  --------------  -----
 0    class   5000 non-null   object
 1    aa_000  5000 non-null   int64
 2    ab_000  5000 non-null   object
 3    ac_000  5000 non-null   object
 4    ad_000  5000 non-null   object
 5    ae_000  5000 non-null   object
 6    af_000  5000 non-null   object
 7    ag_000  5000 non-null   object
 8    ag_001  5000 non-null   object
 9    ag_002  5000 non-null   object
 10   ag_003  5000 non-null   object
 11   ag_004  5000 non-null   object
 12   ag_005  5000 non-null   object
 13   ag_006  5000 non-null   object
 14   ag_007  5000 non-null   object
 15   ag_008  5000 non-null   object
 16   ag_009  5000 non-null   object
 17   ah_000  5000 non-null   object
 18   ai_000  5000 non-null   object
 19   aj_000  5000 non-null   object
 20   ak_000  5000 non-null   object
 21   al_000  5000 non-null   object
 22   am_0    5000 non-null   object
 23   an_000  5000 non-null   object
 24   ao_000  5000 non-null   object
 25   ap_000  5000 non-null   object
 26   aq_000  5000 non-null   object
 27   ar_000  5000 non-null   object
 28   as_000  5000 non-null   object
 29   at_000  5000 non-null   object
 30   au_000  5000 non-null   object
 31   av_000  5000 non-null   object
 32   ax_000  5000 non-null   object
 33   ay_000  5000 non-null   object
 34   ay_001  5000 non-null   object
 35   ay_002  5000 non-null   object
 36   ay_003  5000 non-null   object
 37   ay_004  5000 non-null   object
 38   ay_005  5000 non-null   object
 39   ay_006  5000 non-null   object
 40   ay_007  5000 non-null   object
 41   ay_008  5000 non-null   object
 42   ay_009  5000 non-null   object
 43   az_000  5000 non-null   object
 44   az_001  5000 non-null   object
 45   az_002  5000 non-null   object
 46   az_003  5000 non-null   object
 47   az_004  5000 non-null   object
 48   az_005  5000 non-null   object
 49   az_006  5000 non-null   object
 50   az_007  5000 non-null   object
 51   az_008  5000 non-null   object
 52   az_009  5000 non-null   object
 53   ba_000  5000 non-null   object
 54   ba_001  5000 non-null   object
 55   ba_002  5000 non-null   object
 56   ba_003  5000 non-null   object
 57   ba_004  5000 non-null   object
 58   ba_005  5000 non-null   object
 59   ba_006  5000 non-null   object
 60   ba_007  5000 non-null   object
 61   ba_008  5000 non-null   object
 62   ba_009  5000 non-null   object
 63   bb_000  5000 non-null   object
 64   bc_000  5000 non-null   object
 65   bd_000  5000 non-null   object
 66   be_000  5000 non-null   object
 67   bf_000  5000 non-null   object
 68   bg_000  5000 non-null   object
 69   bh_000  5000 non-null   object
 70   bi_000  5000 non-null   object
 71   bj_000  5000 non-null   object
 72   bk_000  5000 non-null   object
 73   bl_000  5000 non-null   object
 74   bm_000  5000 non-null   object
 75   bn_000  5000 non-null   object
 76   bo_000  5000 non-null   object
 77   bp_000  5000 non-null   object
 78   bq_000  5000 non-null   object
 79   br_000  5000 non-null   object
 80   bs_000  5000 non-null   object
 81   bt_000  5000 non-null   object
 82   bu_000  5000 non-null   object
 83   bv_000  5000 non-null   object
 84   bx_000  5000 non-null   object
 85   by_000  5000 non-null   object
 86   bz_000  5000 non-null   object
 87   ca_000  5000 non-null   object
 88   cb_000  5000 non-null   object
 89   cc_000  5000 non-null   object
 90   cd_000  5000 non-null   object
 91   ce_000  5000 non-null   object
 92   cf_000  5000 non-null   object
 93   cg_000  5000 non-null   object
 94   ch_000  5000 non-null   object
 95   ci_000  5000 non-null   object
 96   cj_000  5000 non-null   object
 97   ck_000  5000 non-null   object
 98   cl_000  5000 non-null   object
 99   cm_000  5000 non-null   object
 100  cn_000  5000 non-null   object
 101  cn_001  5000 non-null   object
 102  cn_002  5000 non-null   object
 103  cn_003  5000 non-null   object
 104  cn_004  5000 non-null   object
 105  cn_005  5000 non-null   object
 106  cn_006  5000 non-null   object
 107  cn_007  5000 non-null   object
 108  cn_008  5000 non-null   object
 109  cn_009  5000 non-null   object
 110  co_000  5000 non-null   object
 111  cp_000  5000 non-null   object
 112  cq_000  5000 non-null   object
 113  cr_000  5000 non-null   object
 114  cs_000  5000 non-null   object
 115  cs_001  5000 non-null   object
 116  cs_002  5000 non-null   object
 117  cs_003  5000 non-null   object
 118  cs_004  5000 non-null   object
 119  cs_005  5000 non-null   object
 120  cs_006  5000 non-null   object
 121  cs_007  5000 non-null   object
 122  cs_008  5000 non-null   object
 123  cs_009  5000 non-null   object
 124  ct_000  5000 non-null   object
 125  cu_000  5000 non-null   object
 126  cv_000  5000 non-null   object
 127  cx_000  5000 non-null   object
 128  cy_000  5000 non-null   object
 129  cz_000  5000 non-null   object
 130  da_000  5000 non-null   object
 131  db_000  5000 non-null   object
 132  dc_000  5000 non-null   object
 133  dd_000  5000 non-null   object
 134  de_000  5000 non-null   object
 135  df_000  5000 non-null   object
 136  dg_000  5000 non-null   object
 137  dh_000  5000 non-null   object
 138  di_000  5000 non-null   object
 139  dj_000  5000 non-null   object
 140  dk_000  5000 non-null   object
 141  dl_000  5000 non-null   object
 142  dm_000  5000 non-null   object
 143  dn_000  5000 non-null   object
 144  do_000  5000 non-null   object
 145  dp_000  5000 non-null   object
 146  dq_000  5000 non-null   object
 147  dr_000  5000 non-null   object
 148  ds_000  5000 non-null   object
 149  dt_000  5000 non-null   object
 150  du_000  5000 non-null   object
 151  dv_000  5000 non-null   object
 152  dx_000  5000 non-null   object
 153  dy_000  5000 non-null   object
 154  dz_000  5000 non-null   object
 155  ea_000  5000 non-null   object
 156  eb_000  5000 non-null   object
 157  ec_00   5000 non-null   object
 158  ed_000  5000 non-null   object
 159  ee_000  5000 non-null   object
 160  ee_001  5000 non-null   object
 161  ee_002  5000 non-null   object
 162  ee_003  5000 non-null   object
 163  ee_004  5000 non-null   object
 164  ee_005  5000 non-null   object
 165  ee_006  5000 non-null   object
 166  ee_007  5000 non-null   object
 167  ee_008  5000 non-null   object
 168  ee_009  5000 non-null   object
 169  ef_000  5000 non-null   object
 170  eg_000  5000 non-null   object
dtypes: int64(1), object(170)
memory usage: 6.5+ MB

In [164]:
dataset['class'].unique()

array(['neg', 'pos'], dtype=object)

In [165]:
y = pd.get_dummies(y,drop_first = True)

In [166]:
y.value_counts()

pos
0      4909
1        91
dtype: int64

In [167]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split (X,y,test_size = 0.3,random_state = 0)

In [168]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3500, 170)
(1500, 170)
(3500, 1)
(1500, 1)

In [169]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [170]:
import tensorflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout

In [171]:
classifier = Sequential()

classifier.add(Dense(units = 10, kernel_initializer = 'he_uniform', activation = 'relu', input_dim = 170))
classifier.add(Dense(units = 10, kernel_initializer = 'he_uniform', activation = 'relu'))
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [172]:
classifier.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 10)                1710

 dense_16 (Dense)            (None, 10)                110

 dense_17 (Dense)            (None, 1)                 11

=================================================================
Total params: 1,831
Trainable params: 1,831
Non-trainable params: 0
_________________________________________________________________

In [173]:
model_history = classifier.fit(X_train,y_train,batch_size=10,epochs=5,validation_split = 0.25)

Epoch 1/5
263/263 [==============================] - 3s 5ms/step - loss: 0.1996 - accuracy: 0.9794 - val_loss: 0.0845 - val_accuracy: 0.9851
Epoch 2/5
263/263 [==============================] - 1s 4ms/step - loss: 0.0610 - accuracy: 0.9832 - val_loss: 0.0691 - val_accuracy: 0.9874
Epoch 3/5
263/263 [==============================] - 1s 4ms/step - loss: 0.0419 - accuracy: 0.9870 - val_loss: 0.0594 - val_accuracy: 0.9840
Epoch 4/5
263/263 [==============================] - 1s 5ms/step - loss: 0.0304 - accuracy: 0.9878 - val_loss: 0.0643 - val_accuracy: 0.9863
Epoch 5/5
263/263 [==============================] - 1s 5ms/step - loss: 0.0254 - accuracy: 0.9920 - val_loss: 0.0656 - val_accuracy: 0.9886

In [174]:
model_history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [175]:
model_history.history.items()

dict_items([('loss', [0.1996360421180725, 0.06104264408349991, 0.04189051315188408, 0.030387505888938904, 0.02538510225713253]), ('accuracy', [0.9794285893440247, 0.9832381010055542, 0.9870476126670837, 0.9878095388412476, 0.9919999837875366]), ('val_loss', [0.08445344120264053, 0.06907463818788528, 0.05940741300582886, 0.06429123878479004, 0.06556488573551178]), ('val_accuracy', [0.9851428866386414, 0.9874285459518433, 0.984000027179718, 0.9862856864929199, 0.9885714054107666])])

In [176]:
y_pred = classifier.predict(X_test)

47/47 [==============================] - 0s 2ms/step

In [193]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred.round())

array([[1474,    3],
       [  15,    8]])

In [194]:
import time
import os

def saveModel_path(model_dir="SAVED_MODELS"):
    os.makedirs(model_dir, exist_ok=True)
    fileName = time.strftime("Model_%Y_%m_%d_%H_%M_%S_.h5")
    model_path = os.path.join(model_dir, fileName)
    print(f"your model will be saved at the following location\n{model_path}")
    return model_path

In [195]:
classifier.save(saveModel_path())

your model will be saved at the following location
SAVED_MODELS/Model_2023_07_31_14_13_14_.h5

In [196]:
!pip install keras-tuner --upgrade

Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [197]:
from kerastuner.tuners import RandomSearch
def build_model(hp):
  model=Sequential()
  model.add(Dense(units=32,kernel_initializer = 'he_uniform',activation='relu',input_dim=170))
  model.add(Dense(units = 32, kernel_initializer = 'he_uniform',activation='relu'))
  model.add(Dense(1,activation='sigmoid'))
  optimizer=hp.Choice("optimizer",values=["adam","sgd","rmsprop","adadelta"])
  model.compile(optimizer=optimizer,loss='binary_crossentropy',metrics=['accuracy'])
  return model

<ipython-input-197-90832adee390>:1: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.
  from kerastuner.tuners import RandomSearch

In [198]:
tuner=RandomSearch(build_model,objective='val_accuracy',max_trials=5,directory='project1',project_name='aps-fault')

In [199]:
tuner

In [200]:
tuner.search(X_train,y_train,validation_data=(X_test,y_test),epochs=5)

Trial 4 Complete [00h 00m 06s]
val_accuracy: 0.9886666536331177

Best val_accuracy So Far: 0.9900000095367432
Total elapsed time: 00h 00m 23s

In [201]:
tuner.get_best_hyperparameters()[0].values

{'optimizer': 'rmsprop'}

In [203]:
mymodel=tuner.get_best_models(num_models=1)[0]
mymodel.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                5472

 dense_1 (Dense)             (None, 32)                1056

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 6,561
Trainable params: 6,561
Non-trainable params: 0
_________________________________________________________________